/* :root {
  --main-color: yellow;
  --title-font: 24px;
  --text-font: 16px;
}

.test h2 {
  color: var(--main-color);
  font-size: var(--text-font);
}

.test p {
  color: var(--main-color);
  font-size: var(--text-font);
} */
