/* th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
} */

/* @font-face { */
/* font-family: 'Roboto';
  src: url('./fonts/Roboto-VariableFont_wdth\,wght.ttf');
  font-weight: 100 900; */
/* font-stretch: 75% 100%; */
/* } */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  /* font-stretch: 70%; */
}
