@use '../utils/mixins';

.hero {
  background-color: aqua;

  & > .container {
    display: flex;
  }
}

// .hero > .container {
//   display: flex;
// }

.hero__title {
  @include mixins.font(32px, 1.2, 900);
  // font-size: 32px;
}

.hero__text {
  color: gray;
  @include mixins.font(12px, 1.5, 400);
}
