// @use '../utils/vars';
// @use '../utils/placeholders';
// @use '../utils/colours';
@use '../utils';
@use 'sass:map';

.test__title {
  color: utils.$main-color;
  font-size: utils.$title-font;
}

.test__text {
  color: utils.$main-color;
}

.test__button {
  //   cursor: pointer;
  //   padding: 20px 40px;
  //   border: 1px solid black;
  @extend %button;
  // background-color: green;
  background-color: map.get(utils.$colors, red);
  color: map.get(utils.$colors, blue);

  &:hover {
    background-color: greenyellow;
  }
}
